/*===============================BASE-----------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

/*===============================LOGOS-----------------------------------------------------*/
header {
    display: flex;
    height: 80px;
    justify-content: space-between;
}

.bulliproof {
    display: flex;
    background-image: url("../images/Bulliproof.png");
    width: 207px;
    height: 65px;
    background-size: contain;
    margin-left: 40px;
    margin-top: 20px;
}

.dror {
    display: flex;
    background-image: url("../images/dror.png");
    width: 65px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-top: 20px;
}

/*===============================NAVBAR-----------------------------------------------------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#wrapper {
    margin-top: 50px;
    flex-grow: 1;
    display: flex;
}

#wrapper.active {
    margin-left: -300px;
}

.my-container {
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar-menu .sidebar {
    position: relative;
    width: 88px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #ccc;
    transition: width 0.6s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-text {
    display: none; 
    transition: display 0.6s ease;
}

.sidebar-menu .sidebar.expanded {
    width: 290px;
}

.sidebar.expanded .bar-text {
    display: inline; 
}

.sidebar-menu .sidebar .hamburger {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-left: 25px;
    padding-right: 30px;
}

.sidebar-menu .sidebar .hamburger h2 {
    color: #666;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
}

.sidebar-menu .sidebar .hamburger .side-btn-hem {
    font-size: 24px;
    color: #666;
    cursor: pointer;
}

.sidebar-menu .sidebar .ul-sidebar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    padding-left: 20px;
}

.sidebar-menu .sidebar .ul-sidebar .close-it {
    padding: 14px 27px;
    width: 100%;
    margin-top: 15px;
    border: 3px solid transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-inline-start: 0px;
}

.sidebar-menu .sidebar .ul-sidebar .close-it:hover {
    border-right: 3px solid #5982fe;
    transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    -moz-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
}

.sidebar-menu .sidebar .ul-sidebar .close-it>a {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #545454;
    text-decoration: none;
    padding-inline-start: 0px;
}

.fafaicon>img {
    width: 30px;
    height: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    margin-left: 50px; 
    transition: margin-left 0.6s ease;
}

.main-content.sidebar-expanded {
    flex-grow: 1;
    margin-left: 50px;
}


/*===============================HEADER-----------------------------------------------------*/
.top-part {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.headline {
    display: flex;
    margin-left: 20px;
}

.left-header {
    margin-right: 20px;
}

.left-top {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

h2, h3 {
    width: 100%;
    white-space: nowrap;
}

h1 {
    font-family: 'Amiko', sans-serif;
    font-size: 35px;
}

/*===============================BREADCRUMBS-----------------------------------------------------*/

a:link,
a:visited,
a:active {
    color: black;
}

@media only screen and (min-width:481px) {
    .breadcrumb-chevron .breadcrumb-item {
        display: flex;
        gap: inherit;
        align-items: center;
        padding-left: 0;
        line-height: 1;
    }

    .breadcrumb-chevron .breadcrumb-item::before {
        gap: inherit;
        float: none;
        width: 1rem;
        height: 1rem;
    }

    .breadcrumb-custom .breadcrumb-item {
        position: relative;
        flex-grow: 1;
        padding: .75rem 3rem;
    }

    .breadcrumb-custom .breadcrumb-item::before {
        display: none;
    }

    .breadcrumb-custom .breadcrumb-item::after {
        position: absolute;
        top: 50%;
        right: -25px;
        z-index: 1;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        content: "";
        background-color: var(--bs-tertiary-bg);
        border-top-right-radius: .5rem;
        box-shadow: 1px -1px var(--bs-border-color);
        transform: scale(.707) rotate(45deg);
    }

    .breadcrumb-custom .breadcrumb-item:first-child {
        padding-left: 1.5rem;
    }

    .breadcrumb-custom .breadcrumb-item:last-child {
        padding-right: 1.5rem;

    }

    .breadcrumb-custom .breadcrumb-item:last-child::after {
        display: none;
    }

    .breadcrumb-item.active {
        font-weight: bold;
        text-decoration: underline;
    }
}

@media only screen and (max-width:480px) {
    .breadcrumb-item.active {
        font-weight: bold;
        text-decoration: underline;
    }
}

/*===============================PROFILE-----------------------------------------------------*/

.profile {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-right: 20px;
    min-width: 200px;
}

.dropdown-toggle {
    outline: 0;
}

p {
    color: #232323;
    font-family: 'Amiko', sans-serif;
    margin-right: 8px;
    margin-top: 30px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: black;
    width: 10px;
    height: 13px;
}

.dropdown-menu .dropdown-menu-dark .text-small .shadow::after {
    color: black;
    position: absolute;
    inset: auto auto 0px 0px 0px;
    margin: 0px;
    transform: translate(0px, -34px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    --bs-dropdown-color: #dee2e6;
    --bs-dropdown-bg: #343a40;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-box-shadow: ;
    --bs-dropdown-link-color: #dee2e6;
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-header-color: #adb5bd;
}

/*===============================MAIN-----------------------------------------------------*/

.content-box {
    max-height: calc(100vh - 314px);
    overflow-y: auto;
    padding-bottom: 20px;
}

.search {
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 20px;
    margin-left: 20px;
    justify-content: center;
    align-self: center;
}

h2 {
    font-family: 'Amiko', sans-serif;
    margin-left: 20%;
    font-size: 28px;
}

.has-search .form-control {
    padding-left: 2.375rem;
    margin-left: 20px;
    min-width: 100px;
}

.has-search .form-control-feedback {
    margin-left: 20px;
    position: absolute;
    z-index: 2;
    display: block;
    width: 2rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

a.add {
    display: inline-block;
    text-decoration: none;
}

a.add .add-icon {
    display: inline-block;
}

.add {
    min-width: 50px;
    justify-content: center;
    align-self: center;
    background-color: transparent;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
}

.add:hover {
    border-radius: 30%;
    background-color: #232323;
}

.add-icon {
    background-image: url("../images/addperson.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

.add-icon:hover {
    background-repeat: no-repeat;
    background-image: url("../images/addwhite.png");
}

@media only screen and (max-width:480px) {
    .top-part {
        flex-direction: column-reverse;
    }

    .add-icon {
        float: right;
    }
}

/*===============================TABLE-----------------------------------------------------*/

.tabletop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    width: 80%
}



.clickable-row {
    cursor: pointer;
}

.table {
    width: 80%;
    margin-left: auto;
}

button {
    display: flex;
    font-family: 'Amiko', sans-serif;
    font-size: 15px;
    border-style: none;
    float: right;
}

button:hover {
    background-color: #232323;
    color: white
}

/*===============================FOOTER-----------------------------------------------------*/

footer {
    margin-top: auto;
    position: absolute;
    background-color: #555555;
    width: 100vw;
    bottom: 0;
    height: 50px;
    bottom: 0%;
}

.copyright {
    color: white;
    font-family: 'Amiko', sans-serif;
    font-size: 11px;
    justify-content: center;
    align-self: center;
    margin-left: 30px;
}

/*--------------LIAM-----------------------------*/

.details {
    display: flex;
    height: fit-content;
    flex-direction: row;

}

.information {
    display: flex;
    width: 30%;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-between;
    font-family: 'Amiko', sans-serif;

}

.information>p {
    display: flex;
    margin: 10px;

}

.contact {
    font-weight: bolder;
    font-size: larger;
}

.person {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.imageliam {
    background-image: url("../images/liam.png");
    width: 103px;
    height: 103px;
    background-repeat: no-repeat;

}

.liamheader {
    font-family: 'Amiko', sans-serif;
    font-size: 40px;
    margin: auto;
    margin-left: 0px;
}

.summary {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.summary>p {
    margin-top: 0px;
    font-size: 16px;
}



.edit {
    background-image: url("../images/edit.png");
    width: 13px;
    height: 13px;
    margin-bottom: 8px;
    margin-left: 430px;
}

.form-control {
    width: 450px;
}

.btn {
    background-color: #666; 
    color: white;
}

.btn:active {
    background-color: #ccc;
    color: black;
}

.btn:hover {
    background-color: white;
    color: #666;
}

/*-------HISTORY--------------------*/
.history {
    display: flex;
    width: 80%;
}

.history-list {

    overflow: auto;
}

.red-warning {
    display: flex;
    background-image: url("../images/redwarning.png");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 28px;

}

.modify {
    display: flex;
    flex-direction: row;
}

.pen {
    background-image: url("../images/edit.png");
    width: 13px;
    height: 13px;
    margin-right: 8px;
}

.send {
    background-image: url("../images/send.png");
    width: 13px;
    height: 13px;
    margin-right: 8px;
}

.simulation {
    background-image: url("../images/watch.png");
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.download {
    background-image: url("../images/download.png");
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.missing-anomalies {
    display: flex;
    background-image: url("../images/line.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    margin-top: 10px;
}

.yellow-warning {
    display: flex;
    background-image: url("../images/yellowarning.png");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 28px;

}
.edit,
.simulation,
.send,
.pen,
.download:hover {
    cursor: pointer;
}
